<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <title>Forgot Password</title>
</head>
<body>
    
    <script>
        var screenWidth = window.innerWidth;
        var screenHeight = window.innerHeight;
        var paddingVertical = screenHeight/2-250;
        document.body.style.paddingTop=paddingVertical+'px';
        document.body.style.paddingBottom=paddingVertical+'px';
        document.body.style.textAlign='center';
        document.body.style.margin='0';
        if(screenWidth <= 768){
            document.body.style.paddingLeft='5%';
            document.body.style.paddingRight='5%';
        } else {
            document.body.style.paddingLeft='35%';
            document.body.style.paddingRight='35%';
        }
    </script>
    <div class="card">
        <div class="login-container">
            <div class="loginWidgets">
                <h1 class="text-login">Password Recovery</h1>
                <p class="text-signin-acc">Enter your email id to continue</p>
        <div class="input-group mb-1"><input class="form-control textbox-dg" id="emailEditText" type="text" value="" name="email" placeholder="Registered Email id"></div>
        <div class="buttonSubmit input-group mb-3"><input class="logn-btn button" type="submit" value="Request Password Change" onclick="clicked()"></div>
        <div id="responseText">  </div>
    </div>
</div>
</div>

    <script>
            
    async function clicked() {

    try{
        
        var responseBox=document.getElementById("responseText");
        responseBox.innerHTML="";

        email=document.getElementById("emailEditText").value;
        
        var res=await fetch(`/user/forgotPasswordRequest`,{
            method:"POST",
            body:JSON.stringify({
                email: email
            }),
            headers: {
                'Content-Type':'application/json'
            }
        })
        var resp = await res.json();

        } catch(err) {
            console.log(err);
        }
        
        responseBox.innerHTML+=resp.message;
        
        if(res.status==400) {
            responseBox.style.backgroundColor='#EF7070';
            responseBox.style.color='#C30000';
        } else if(res.status==200) {
            responseBox.style.backgroundColor='#99ff9d';
            responseBox.style.color='#00731f';
        } else {
            responseBox.style.backgroundColor='#EF7070';
            responseBox.style.color='#C30000';
        }
        
    }

    </script>


</body>
</html>