<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crack it Connect it</title>
</head>
<body>
    <% if (typeof message !== 'undefined') { %>
        <h2><%= message %></h2>
        <% } else {%>
    <h1>not found</h1>
    <% }%>
</body>
</html>
