<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/home.css" />
  <title>Crack it Connect it | Rules</title>
  <style>
    .require-login {
      <% if ( !loggedIn) {
        %>display: none;
        <%
      }

      %>
    }

    .hide-if-loggedin {
      <% if (loggedIn) {
        %>display: none;
        <%
      }

      %>
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(0, 0, 0, 0);">
    <a class="navbar-brand" href="/">
      <img src="/assets/homepage.png" class="d-inline-block align-top" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link require-login" href="/user/game">Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link require-login" href="/user/leaderboard">Leaderboard</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item hide-if-loggedin">
          <a type="button" class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item hide-if-loggedin">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item require-login">
          <a type="button" class="nav-link" href="/logout">Logout</a>
        </li>
        <li>
          <img src="/assets/main_logo_21.png" class="ml-3 logo" />
        </li>
      </ul>
    </div>
  </nav>
  <div class="content">
    <h1>Rules</h1>
    <p>
      1. Each crossword answer is worth 10 points.
    </p>
    <p>
      2. Participants with the same number of points will be ranked on the leaderboard based on their elapsed time duration.
    </p>
    <p>
      3. The top three participants on the final leaderboard shall be eligible to receive prizes.
    </p> 
  </div>
  <div class="container-fluid">
    <img src="/assets/title.png" class="bottom-right" />
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>
